*{
    box-sizing: border-box;
}
.box{
    /* border-width: 5px;
    border-style: dotted;
    border-color: blue; */

    /* border: 5px solid blue; */
    /* border-width: 5px;
    border-style: dotted;
    border-image: linear-gradient(to right,red 20%,green 20%,blue 40%,red 40%,yellow 50%,green 40%);
    border-image-slice: 30; */
    border-left: 5px solid blue;
    border-top: 1px solid black;
    border-right: 2px solid red;
    border-bottom: 3px solid green;
    height: 200px;
    width: 400px;
    border-image-width: 30px 48px;
}

.box-outline{
    border: 1px solid blue;
    height: 200px;
    width: 400px;
    /* outline-color: coral;
    outline-width: 5px;
    outline-style: solid; */
    /* outline: 4px dotted blue; */
}


