/* *{
    padding: 0;
    margin: 0;
} */
.box{
    height: 200px;
    /* background-color: blue; */
    /* background-color: #000000; */
    /* background-color: rgb(100, 100, 100); */
    /* background-color: rgba(255, 0, 0, .2); */
    /* background-color: hsl(120, 100%, 50%); */
    background-color: hsla(120, 100%, 50%, .5);

    color: blue;
}
.box1{
    color: blue;
}
